*{
    margin:0;
    padding: 0;
    
}
.navbar{
    height: 1.6em;
    
}

.sideBar{

    justify-self: end;
    cursor: pointer;
    font-size: 2em;
    margin-left: 1em;
}

.header{
    width: 100%;
    height: 4.5em;
    display: flex;
    grid-template-rows: 100%;
    
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(204, 204, 61);
    
    
    
}



ul{
    
    display: flex;
    justify-content: center;
    gap: 1em;
    /* margin-right: 10em; */
    
    
}



li{
    padding: 15px;
    list-style: none;
    font-size: 1.55em;
    font-style: normal;
    text-decoration: none;
    cursor: pointer;
    color:rgb(45, 35, 32);
    font-weight: 350;
    font-family: Times New Roman;
    color: blueviolet;
    border-right: 1px solid rgb(168, 157, 157);
  padding: 1em;
  line-height: .4px;

    /* border-left: 1px solid black; */
    
    
}

li:last-child{
    border: none;
}



li:hover{
    border-bottom: 1px solid green;
    font-weight: 500;
    justify-self: flex-end;

    
}

.logout{
    margin-right: 4em;
    font-size: 1.3em;
    cursor: pointer;
}

.logo{
    margin-left: 4em;
    cursor: pointer;
    justify-self: flex-start;
    
    
}


