

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
 



.my-form .row
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

button{
    margin-top: .5em;
}



.form {

  
  border-radius: 10px;  
  padding: 3em 10% ;
    
  }



.title{
    text-align: center;
    font-family: snas-serif;
    font-weight: 700;
  }

 .submit{
  margin: 0 auto;

 } 

  mat-form-field{
    margin: 0.3em;

    
  }
 