<br>
<br>

<h2 class="instruction">Please flow the steps to make your Appointement</h2>


  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">

    <mat-stepper formArrayName="formArray" 
    class="example-stepper"
    [orientation]="(stepperOrientation | async)!">
    <mat-step formGroupName="0" [stepControl]="formArray?.get([0])!" label="Information">

      
          <div class="step1-style">
            <mat-form-field appearance="fill">
              <mat-label>Speciality</mat-label>
              <mat-select matFormFieldControl formControlName="speciality" [(ngModel)]="selectedSpec">
                <mat-option *ngFor="let speciality of specialities" [value]="speciality" >
                    {{speciality.speciality_name}}</mat-option>
         
              </mat-select>
            </mat-form-field>

        <!-- <mat-form-field>
            <mat-label>Chose Doctor (Optional) </mat-label>
            <input matInput>
        </mat-form-field> -->
        <button mat-raised-button color="blue" type="button" (click)="showDocs()">Chose Doctor</button>
        <app-doctors *ngIf="doctorsC" [speciality]="selectedSpec" (event)="onSend($event)"></app-doctors>
        <p *ngIf="selectedDoctor"><i>Your doctor :</i>{{selectedDoctor.username}}</p>
          
          <div>
            <button mat-raised-button matStepperNext type="button" color="primary" style="margin-top:1em">Next</button>
          </div>
        </div>
    </mat-step>
    <mat-step [stepControl]="formArray?.get([1])!" label="date" formGroupName="1">
      
        <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput  [matDatepicker]="picker" formControlName="date">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error>enter a date</mat-error>
          </mat-form-field>
        <div>
          <button mat-raised-button  matStepperPrevious color="warn" type="button">Back</button>
          <button mat-raised-button matStepperNext color="primary" type="button">Next</button>
        </div>
      
    </mat-step>


    <mat-step  label="paiement">
      <p><i>todo later</i></p>
      <div>
        <button mat-raised-button  matStepperPrevious color="warn" type="button">Back</button>
        <button mat-raised-button matStepperNext color="primary" type="button" >Next</button>
      </div>
      </mat-step>
  
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <div class="steper2-style">
        <button mat-raised-button matStepperPrevious color="warn">Back</button>
      <button type="submit" color="primary" mat-raised-button>Finish</button>
      </div>
    </mat-step>
  </mat-stepper>
  

  </form>
 