<div class="container">

    <div class="left-side">
        
        <p class="text1">Make An Appointement with the best doctors accross the country
             just from your mobile</p>
           <div class="sub-title">
    
            <p class="text2">Postpone or Cancel your Appointement at any time</p>
           </div> 

        <div class="buttons">
            <button  mat-stroked-button color="primary"><a routerLink="signup">signup for free</a></button>  
            <button mat-stroked-button color="pink"><a routerLink="#" style="color:green">See doctors List</a></button>
            

        </div>   
      
        
    </div>
    <!-- <img src="../assets/doctor.jpg"> -->

    <mat-card class="mycard">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Karim El Wardi</mat-card-title>
          <mat-card-subtitle>Dermatalogue</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/doctor.jpg" alt="Photo of karim el wardi">
        <mat-card-content>
        <ul>
            <li>10 years experience</li>
            <li>More the 2000 patients</li>
            <li>Good price</li>
        </ul>
            
          
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Make an Appointement</button>
          
        </mat-card-actions>
      </mat-card>
      


   
</div>

<div>
    <p>How this works</p>
    
</div>