

<div  [ngClass]="{'web-container' : webview, 'container': !webview}" >
  
    <div [ngClass]="{'web-left-side' : webview, 'left-side': !webview}">
        
              <p class="text1">Make An Appointement with the best 
              doctors accross the country just  
              from your mobile  </p>

                
                  <div class="sub-title">
          
                  <p class="text2">Postpone or Cancel your Appointement at any time
                  rate the doctor and leave a comment</p>
                  
                </div> 
                

              <div class="buttons" >
                  <button  mat-stroked-button ><a routerLink="/signup" style="color: green;">signup for free</a></button>  
                  <button mat-stroked-button color="pink"><a routerLink="/doctors-list" style="color:rgba(98, 178, 205, 0.991)">See doctors List</a></button>
                  

              </div>  
              
              
              <mat-divider></mat-divider>
              

      
        
    </div>
    <div [ngClass]="{'web-right-side' : webview, 'right-side': !webview}">
      <img src="../assets/bg-doctor.png" >
      
    </div>
    



    
   
</div>

<br>
        

<!-- <div class="how-works">
    <h3 class="title">How this works</h3>

    <ul>
      <li><p><fa-icon [icon]="fa1"></fa-icon>  Create an account</p></li>
      <li><p><fa-icon [icon]="fa2"></fa-icon>  Select speciality</p></li>
      <li><p><fa-icon [icon]="fa3"></fa-icon>  chose a doctor</p></li>
      <li><p><fa-icon [icon]="fa4"></fa-icon>  chose a date</p></li>
    </ul> 

  
    
    
</div> -->


<br>
<br>