




      
        <div class="buttons">

            <button mat-stroked-button color="primary" routerLink="mypatients">Consultations List</button>
            <button mat-stroked-button color="primary" routerLink="myappointements">My Appointement</button>
            <button mat-stroked-button color="primary" routerLink="newconsultation">Add Consultation</button>
          
    
  
  
     
    </div>
   
  
    <hr>
    <div class="admin-box">
        <router-outlet></router-outlet>
    
    </div>
  
    
  
  
  
  