<app-header></app-header>

<div class="home">
  
    <ul class="bar" *ngIf="sideBar">
        <li routerLink="">
            Main
        </li>
        <li routerLink="signup" (click)="!sideBar">
            sign Up
        </li>
        
        <li routerLink="signin">
            sign In
        </li>


    </ul>
    
      <div class="web-gird" (click)="hideSideBar()">
            <div class="content">
              <router-outlet></router-outlet>
              
            </div>
            <div class="footer-container">
              <!-- <app-footer></app-footer> -->
            </div>

      </div>
 
      



</div>



  
  
    
      
      
      
      
      
    
  
  