*{
    margin:0;
    padding: 0;
}

.admin-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 18% 82%;
    grid-template-rows: 100%;
    column-gap: 5%;
}


.sidebar{
    overflow-y: auto;
    display: flex;
    height: 100%;
    width: 100%;
    color: #E7E9EC;
    font-weight: 400;
    font-family: sans-serif;
    background:#3C4B64;
    border:1px solid blak;

}
.sidebar-list{
    width: 100%;
    
    font-size: large;
    display: flex;
    flex-direction: column;
    
}

li{
    /* padding: 0.75em 0; */
    cursor: pointer;
    list-style: none;
}
.options-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    background-color: #3B4659;
}

.active-route{
    
    background-color:#3B4659 ;
    

}
button{
    color: #AEB4BF;
    width: 100%;
    font-size: 1rem;  
    padding: 0.75em 0;
    

}
fa-icon{
    position: relative;
    left: 2.5em;
        /* margin-right: 1em;
    float: right;
    */
}
