<!-- 
<div class="row justify-content-center" style="background-color: #F6F8FA;">
    
<div class="card-header"><p class="title">Create an account</p></div>
    <div class="card-body">
<div class="form">
    <form class="form-group" (ngSubmit)="signup(data.value)"  #data = "ngForm" #form >
        
        <mat-form-field appearance="legacy" class="form-control"  >
            <mat-label>Username</mat-label>
            <input matInput name="username" ngModel> 
        </mat-form-field>
    <mat-form-field  class="form-control" appearance="legacy">
            <mat-label>Email</mat-label>
            <input matInput name="email" ngModel>
        </mat-form-field>

        
    <mat-form-field class="form-control">
                <mat-label>Phone number</mat-label>
                <input matInput name="phone_number" ngModel></mat-form-field>
    <mat-form-field class="form-control" appearance="standard">
                    <mat-label>Password</mat-label>
                    <input matInput name="password" type="password" ngModel>
    </mat-form-field>
    <input type="file" name="image" accept="image/png, image/jpeg"  
    (change)="selectFile($event)"/>
    <button mat-flat-button color="primary" class="submit" type="submit" >Create Account</button>
    </form>
    
    

</div>

</div>
</div>
 -->


 <main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" style="text-align: center;">Create Account</div>
                        <div class="card-body">
                            <form  (ngSubmit)="signup(data.value)"  #data = "ngForm" #form>
                                <div class="form-group row">
                                    <label for="full_name" class="col-md-4 col-form-label text-md-right">Full Name:</label>
                                    <div class="col-md-6">
                                        <input required type="text" id="full_name" class="form-control" name="fullname" ngModel>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address:</label>
                                    <div class="col-md-6">
                                        <input type="text" ngModel id="email_address" class="form-control" name="email">
                                    </div>
                                </div>

                              

                                <div class="form-group row">
                                    <label for="phone_number" class="col-md-4 col-form-label text-md-right">Phone Number:</label>
                                    <div class="col-md-6">
                                        <input type="text" id="phone_number" class="form-control" name="phone_number" ngModel>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="present_address" class="col-md-4 col-form-label text-md-right">Password:</label>
                                    <div class="col-md-6">
                                        <input type="password" id="passoword" class="form-control" ngModel name="password">
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label for="profile-picture" class="col-md-4 col-form-label text-md-right">Picture:</label>
                                    <div class="col-md-6">
                                        <input type="file" id="profile-picture" class="form-control" 
                                        name="image" 
                                        accept="image/png, image/jpeg"
                                        (change)="selectFile($event)"
                                        >
                                    </div>
                                </div>
                               

                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-primary">
                                        Create Account
                                        </button>
                                    </div>
                              </form>
                         </div>
                    </div>
              </div>
        </div>
    </div>
</main>