.form {
    border: 2px solid #F8F9FA;
    margin: 0 10%;
    padding: 10px 20px ;
    
  }

.form-group{
  margin: 10% 10%;
}

.title{
    text-align: center;
    font-family: snas-serif;
    font-weight: 700;
  }

 .submit{
  margin: 0 auto;
  
 } 

  mat-form-field{
    margin: 0.3em;

    
  }





.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
    margin-top: 1em;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

button{
    margin-top: .5em;
}